@import "mixins";

label {
  font-size: 12px;
  text-transform: uppercase;
  color: $colPreEPJacket
}

.form-actions {
  text-align: center;
  
  .form-submit {
    @include vendorize(transition, all 0.25s ease);
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    //@include vendorize(border-radius, 15%);
    font: {
      family: $fntSansSpecial;
      size: 18px;
      weight: bold;
    }
    
    color: #fff;
    background: url('../../images/cb-header-textured-bg.jpg') 0 0 repeat;
    border: none;
    @include hoverActiveFocus(background, $colSky);
    @include hoverActiveFocus(color, $colDenim);
  }
}

.cb-contact-form,
.page-node-53 {
  h2 {
    font: {
      family: $fntSansSpecial;
    }
    
    padding: 5px;
    background: url('../../images/cb-header-textured-bg.jpg') 0 0 repeat;
    margin: 0 0 10px;
    text-align: center;
    color: #fff;
  }
  
  .form-item,
  .form-actions {
    margin: 10px 0 0;
    overflow: hidden;
  }
  
  .webform-container-inline,
  .webform-component-textarea {
    /*label {
      float: left;
      width: 16%;
      padding: 10px 20px 0 0;
      margin-right: 0;
    }*/
    
    font-size: 16px;
    line-height: 1.25;
    
    label {
      display: block;
      margin: 0;
      
      &.compact-form-label {
        left: 10px;
        top: 9px;
      }
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      //float: right;
      //width: 84%;
      display: block;
      width: 100%;
      padding: 5px 10px;
      font-size: 16px;
      border: 1px solid $colSky;
    }
    
    textarea {
      height: 150px;
      -webkit-appearance: none;
      resize: none;
    }
  }
}

.request-tour-date-form {
  h2 {
    font-size: 14px;
  }
}
