@import "mixins";

@font-face {
  font-family: 'linowriteregular';
  src: url('../../fonts/linowrite-webfont.eot');
  src: url('../../fonts/linowrite-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/linowrite-webfont.woff') format('woff'),
    url('../../fonts/linowrite-webfont.ttf') format('truetype'),
    url('../../fonts/linowrite-webfont.svg#linowriteregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vincentregular';
  src: url('../../fonts/vincent-regular-webfont.eot');
  src: url('../../fonts/vincent-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/vincent-regular-webfont.woff') format('woff'),
       url('../../fonts/vincent-regular-webfont.ttf') format('truetype'),
       url('../../fonts/vincent-regular-webfont.svg#vincentregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
.cb-header-text,
.ep-title {
  font-family: $fntSansSpecial;
}
.header-secondary {
  position: relative;
  z-index: 1;
}
.cb-header-text {
  margin: 0;
  line-height: 1.1;
}

a {
  @include vendorize(transition, all 0.25s ease);
  @include linkAllStates(text-decoration, none);
  @include linkAllStates(outline, none);
  @include linkVisited(color, $colPreEPJacket);
  @include hoverActiveFocus(color, $colDenim);
}

body {
  width: 100%;
  background: url('../../images/cb-textured-bg.jpg') 0 0 repeat;
  margin: 0;
  font: 16px/1.25 arial, helvetica, sans-serif;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.row {
  width: 100%;
  max-width: 1020px;
  margin: auto;
}

ul.tweets {
  padding: 0;
  margin: 0;
  
  li {
    list-style: none;
  }
}

// error pages
.error-banner {
  width: 100%;
  
  @include clear();
  
  .content p {
    text-align: center;
  }
}
.error-copy {
  text-align: center;
}

.region-logo {
  overflow: hidden;
  
  .block.social-links {
    float: right;
    width: 240px;
  }
}

.ep-download {
  display: inline-block;
  margin-bottom: 20px;
}

// page elements
#page-wrapper {
  position: relative;
  width: 100%;
  max-width: 1020px;
  margin: auto;
  
  @include vendorize(box-shadow, 0 0 5px 5px rgba(0,0,0,0.4));
  
  &> .inner {
    padding: 0 0 20px;
    background: #fff;
    
    &> div {
      padding: 0 20px;
    }
  }
  
  header {
    padding: 0;
  }
}

.header-top,
.nav-region {
  position: relative;
  z-index: 3;
  background: url('../../images/cb-header-textured-bg.jpg') 0 0 repeat;
  padding: 5px 0;
  color: #fff;
  @include vendorize(box-shadow, 0 0 5px 5px rgba(0,0,0,0.4));
  font-size: 0;
  line-height: 0;
  
  .contextual-links-wrapper,
  .block .content {
    font-size: 12px;
    line-height: normal;
  }
  
  a {
    &:link,
    &:visited {
      color: #fff;
    }
    
    @include hoverActiveFocus(color, $colSky);
  }
  
  &> .inner,
  &> .nav {
    padding: {
      top: 5px;
      bottom: 5px;
    }
    
    border: {
      top: 1px solid #fff;
      bottom: 1px solid #fff;
    }
  }
}

.header-top {
  &> .inner {
    overflow: hidden;
  }
  
  h1 {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 48px;
  }
}

.nav-region {
  .nav {
    .content ul {
      padding: 0;
      margin: 0;
      font: 24px/1.1 $fntSansSpecial;
      overflow: hidden;
      text-align: center;
      
      li {
        list-style: none;
        display: inline-block;
        padding: 0 3.9%;
        border-left: 1px solid #fff;
        margin: 0;
        
        &:first-child {
          border-left: none;
        }
        
        a {
          display: block;
          padding: 5px;
        }
      }
    }
  }
}

.block.social-links {
  .menu {
    padding: 0;
    margin: 0;
    text-align: right;
    
    li {
      list-style: none;
      display: inline-block;
      padding: 5px 0;
      margin: 0 0 0 2%;
      text-align: left;
      overflow: hidden;
      
      &:first-child {
        margin-left: 0;
      }
      
      .social-link {
        display: block;
        height: 50px;
        font-size: 0;
        line-height: 0;
        text-indent: -999px;
        
        &.facebook,
        &.instagram,
        &.songkick {
          width: 50px;
        }
        
        &.facebook {
          background: url('../../images/FB-f-Logo__blue_50.png') 0 0 no-repeat;
        }
        
        &.instagram {
          background: url('../../images/instagram.png') 0 0 no-repeat;
        }
        
        &.twitter {
          width: 61px;
          background: url('../../images/twitter.png') 0 0 no-repeat;
        }
        
        &.songkick {
          background: url('../../images/social-logo-sk.png') 0 0 no-repeat;
        }
      }
    }
  }
}

#main-wrapper {
  margin-top: 20px;
}

#footer {
  margin-top: 30px;
}
  .copyright-footer {
    font-size: 10px;
    color: #fff;
  }

/**
 * Right sidebar pages
 */
.one-sidebar.sidebar-second {
  #content-wrapper {
    float: left;
    width: 68.085%;
  }
  
  #cb-sidebar-second {
    float: right;
    width: 31.915%;
  }
  
  .twitter-feed {
    font-size: 12px;
    
    .tweet {
      overflow: hidden;
      padding: 10px 3px 5px;
      border-bottom: 1px solid $colSky;
    }
    
    .tweet-img {
      float: left;
      width: 15.335%;
    }
    
    .tweet-message {
      float: right;
      width: 84.665%;
      padding-left: 10px;
    }
    
    .tweet-time-ago {
      clear: both;
      text-align: right;
      font-size: 10px;
    }
    
    .block-title {
      padding-bottom: 10px;
      border-bottom: 1px solid $colSky;
      margin: 0;
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      
      a {
        display: inline-block;
        height: auto;
        min-height: 20px;
        padding-left: 28px;
        background: url('../../images/logo-twitter-24x20.png') 0 0 no-repeat;
      }
    }
  }
}
