@import "mixins";

.block.banner-home {
  position: relative;
  z-index: 1;
  
  p {
    margin: 0;
  }
  
  &.pre-ep {
    .block-title {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 2;
      margin: 0;
      font: 42px/1.1 $fntSansSpecial;
      color: #fff;
    }
    
    .content {
      position: relative;
      z-index: 1;
      font-size: 0;
      line-height: 0;
      
      img {
        display: block;
      }
    }
  }
  
  &.new-ep-link {
    position: relative;
    width: 100%;
    max-width: 1020px;
    max-height: 540px;
    overflow: hidden;
    
    .ep-title {
      position: absolute;
      z-index: 2;
      left: 2.94%;
      top: 110px;
      width: 31.372%;
      font-size: 42px;
      line-height: 1.1;
      
      span {
        display: block;
      }
    }
    
    .album-cover {
      position: relative;
      z-index: 1;
      display: block;
    }
    
    a {
      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        
        .itunes {
          @include vendorize(transition, all 0.25s ease);
        }
      }
    }
    
    &:hover {
      .ep-title a {
        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
          .itunes {
            color: #4d4227;
          }
        }
      }
    }
  }
}

.cb-homepage {
  #page-wrapper {
    position: relative;
    margin: auto;
    
    &> .inner {
      background: #fff;
    }
    
    header {
      padding: 0;
    }
  }
  
  .cb-header-text {
    position: absolute;
    right: 30px;
    top: 20px;
    top: 20%;
    z-index: 5;
    font-size: 96px;
    color: #fff;
    
    a {
      &:link,
      &:visited {
        color: #fff;
      }
      
      @include hoverActiveFocus(color, $colSky);
    }
  }
  
  &.header-text-left {
    .cb-header-text {
      right: auto;
      left: 30px;
      color: $colDenim;
      
      a {
        &:link,
        &:visited {
          color: $colDenim;
        }
        
        @include hoverActiveFocus(color, $colPreEPBuilding);
      }
    }
  }
}

.home-twitter-feed {
  /*.view-content {
    height: 360px;
    overflow: scroll;
  }*/
  
  font-size: 12px;
  
  .tweet {
    overflow: hidden;
    padding: 10px 3px 5px;
    border-bottom: 1px solid $colSky;
  }
  
  .tweet-img {
    float: left;
    width: 15.335%;
  }
  
  .tweet-message {
    float: right;
    width: 84.665%;
    padding-left: 10px;
  }
  
  .tweet-time-ago {
    clear: both;
    text-align: right;
    font-size: 10px;
  }
}

.twitter-feed-title {
  padding-bottom: 10px;
  border-bottom: 1px solid $colSky;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  
  a {
    display: inline-block;
    height: auto;
    min-height: 20px;
    padding-left: 28px;
    background: url('../../images/logo-twitter-24x20.png') 0 0 no-repeat;
  }
}

.pane-songkick {
  margin-bottom: 20px;
  
  h2 {
    //text-align: center;
  }
  
  .concerts-by-songkick {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .tour-dates {
    padding: 0;
    margin: 0;
    
    li {
      list-style: none;
      margin-top: 10px;
      
      &:first-child {
        .concert-header {
          border-top: 1px solid $colSky;
        }
      }
    }
  }
  
  .concert-header {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $colSky;
    background: url('../../images/cb-header-textured-bg.jpg') 0 0 repeat;
    overflow: hidden;
    font: {
      size: 12px;
      weight: bold;
    }
    text-transform: uppercase;
    
    @include linkAllStates(color, #fff);
    @include hoverActiveFocus(background, $colSky);
    @include hoverActiveFocus(color, $colDenim);
    
    span {
      float: left;
    }
    
    .date-time,
    .event-city {
      width: 30%;
    }
    
    .date-time {
      padding-right: 3%;
    }
    
    .event-venue {
      width: 40%;
    }
    
    .event-city {
      float: right;
      padding-left: 3%;
    }
  }
}

.home-instagram-feed {
  margin-bottom: 20px;
  
  .instagrams {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .instagram-row {
    list-style: none;
    float: left;
    width: 33.333%;
    max-width: 150px;
    padding: 5px;
  }
}

.instagram-title {
  padding-bottom: 10px;
  border-bottom: 1px solid $colSky;
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  
  a {
    display: inline-block;
    height: 24px;
    padding-left: 32px;
    background: url('../../images/logo-instagram-24x24.png') 0 0 no-repeat;
  }
}
