label {
  font-size: 12px;
  text-transform: uppercase;
  color: #2d4e5f; }

.form-actions {
  text-align: center; }
  .form-actions .form-submit {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    font-family: vincentregular, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: url("../../images/cb-header-textured-bg.jpg") 0 0 repeat;
    border: none; }
    .form-actions .form-submit:hover, .form-actions .form-submit:active, .form-actions .form-submit:focus {
      background: #d3dce5; }
    .form-actions .form-submit:hover, .form-actions .form-submit:active, .form-actions .form-submit:focus {
      color: #0d1520; }

.cb-contact-form h2,
.page-node-53 h2 {
  font-family: vincentregular, Arial, Helvetica, sans-serif;
  padding: 5px;
  background: url("../../images/cb-header-textured-bg.jpg") 0 0 repeat;
  margin: 0 0 10px;
  text-align: center;
  color: #fff; }
.cb-contact-form .form-item,
.cb-contact-form .form-actions,
.page-node-53 .form-item,
.page-node-53 .form-actions {
  margin: 10px 0 0;
  overflow: hidden; }
.cb-contact-form .webform-container-inline,
.cb-contact-form .webform-component-textarea,
.page-node-53 .webform-container-inline,
.page-node-53 .webform-component-textarea {
  /*label {
    float: left;
    width: 16%;
    padding: 10px 20px 0 0;
    margin-right: 0;
  }*/
  font-size: 16px;
  line-height: 1.25; }
  .cb-contact-form .webform-container-inline label,
  .cb-contact-form .webform-component-textarea label,
  .page-node-53 .webform-container-inline label,
  .page-node-53 .webform-component-textarea label {
    display: block;
    margin: 0; }
    .cb-contact-form .webform-container-inline label.compact-form-label,
    .cb-contact-form .webform-component-textarea label.compact-form-label,
    .page-node-53 .webform-container-inline label.compact-form-label,
    .page-node-53 .webform-component-textarea label.compact-form-label {
      left: 10px;
      top: 9px; }
  .cb-contact-form .webform-container-inline input[type="text"],
  .cb-contact-form .webform-container-inline input[type="email"],
  .cb-contact-form .webform-container-inline textarea,
  .cb-contact-form .webform-component-textarea input[type="text"],
  .cb-contact-form .webform-component-textarea input[type="email"],
  .cb-contact-form .webform-component-textarea textarea,
  .page-node-53 .webform-container-inline input[type="text"],
  .page-node-53 .webform-container-inline input[type="email"],
  .page-node-53 .webform-container-inline textarea,
  .page-node-53 .webform-component-textarea input[type="text"],
  .page-node-53 .webform-component-textarea input[type="email"],
  .page-node-53 .webform-component-textarea textarea {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #d3dce5; }
  .cb-contact-form .webform-container-inline textarea,
  .cb-contact-form .webform-component-textarea textarea,
  .page-node-53 .webform-container-inline textarea,
  .page-node-53 .webform-component-textarea textarea {
    height: 150px;
    -webkit-appearance: none;
    resize: none; }

.request-tour-date-form h2 {
  font-size: 14px; }
