@font-face {
  font-family: 'linowriteregular';
  src: url("../../fonts/linowrite-webfont.eot");
  src: url("../../fonts/linowrite-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/linowrite-webfont.woff") format("woff"), url("../../fonts/linowrite-webfont.ttf") format("truetype"), url("../../fonts/linowrite-webfont.svg#linowriteregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'vincentregular';
  src: url("../../fonts/vincent-regular-webfont.eot");
  src: url("../../fonts/vincent-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/vincent-regular-webfont.woff") format("woff"), url("../../fonts/vincent-regular-webfont.ttf") format("truetype"), url("../../fonts/vincent-regular-webfont.svg#vincentregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1,
.cb-header-text,
.ep-title {
  font-family: vincentregular, Arial, Helvetica, sans-serif; }

.header-secondary {
  position: relative;
  z-index: 1; }

.cb-header-text {
  margin: 0;
  line-height: 1.1; }

a {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none; }
  a:link, a:visited, a:hover, a:active, a:focus {
    outline: none; }
  a:link, a:visited {
    color: #2d4e5f; }
  a:hover, a:active, a:focus {
    color: #0d1520; }

body {
  width: 100%;
  background: url("../../images/cb-textured-bg.jpg") 0 0 repeat;
  margin: 0;
  font: 16px/1.25 arial, helvetica, sans-serif; }

.container {
  width: 100%;
  padding: 0 20px; }

.row {
  width: 100%;
  max-width: 1020px;
  margin: auto; }

ul.tweets {
  padding: 0;
  margin: 0; }
  ul.tweets li {
    list-style: none; }

.error-banner {
  width: 100%; }
  .error-banner:before, .error-banner:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .error-banner:after {
    clear: both; }
  .error-banner .content p {
    text-align: center; }

.error-copy {
  text-align: center; }

#page-wrapper {
  width: 100%;
  max-width: 1020px;
  margin: auto;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4); }
  #page-wrapper > .inner {
    background: #fff; }
    #page-wrapper > .inner > div, #page-wrapper > .inner > header, #page-wrapper > .inner > footer {
      padding: 0 20px; }

.header-top,
.nav-region {
  position: relative;
  z-index: 3;
  background: url("../../images/cb-header-textured-bg.jpg") 0 0 repeat;
  padding: 5px 0;
  color: #fff;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4); }
  .header-top a:link, .header-top a:visited,
  .nav-region a:link,
  .nav-region a:visited {
    color: #fff; }
  .header-top a:hover, .header-top a:active, .header-top a:focus,
  .nav-region a:hover,
  .nav-region a:active,
  .nav-region a:focus {
    color: #d3dce5; }
  .header-top > .inner, .header-top > .nav,
  .nav-region > .inner,
  .nav-region > .nav {
    padding-top: 5px;
    padding-bottom: 3px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; }

.header-top > .inner {
  overflow: hidden; }
.header-top h1 {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 48px; }

.nav-region .nav .content ul {
  padding: 0;
  margin: 0;
  font: 24px/1.1 vincentregular, Arial, Helvetica, sans-serif;
  overflow: hidden; }
  .nav-region .nav .content ul li {
    list-style: none;
    float: left;
    padding: 0 10px;
    border-left: 1px solid #fff;
    margin: 0; }
    .nav-region .nav .content ul li:first-child {
      border-left: none; }
    .nav-region .nav .content ul li a {
      display: block;
      padding: 5px; }

#main-wrapper {
  margin-top: 20px; }

#footer {
  margin-top: 30px; }

.copyright-footer {
  font-size: 10px;
  color: #fff; }
