@media screen and (max-width: 800px) {
  .cb-homepage #page-wrapper {
    background-size: cover; } }
@media screen and (max-width: 760px) {
  .cb-homepage.header-text-left .cb-header-text {
    font-size: 72px; } }
@media screen and (max-width: 560px) {
  .cb-homepage.header-text-left .cb-header-text {
    font-size: 56px; }

  .block.banner-home.pre-ep .block-title {
    font-size: 32px; }

  .home-twitter-feed,
  .home-instagram-feed {
    display: none; }

  .cb-contact-form h2 {
    background: #d3dce5;
    color: #333; }

  .cb-homepage .burr-flipped-content {
    float: none;
    width: 100%; }
  .cb-homepage .burr-flipped-sidebar {
    float: none;
    width: 100%; } }
@media screen and (max-width: 460px) {
  .block.social-links .menu {
    text-align: center; }

  .cb-homepage.header-text-left .cb-header-text {
    font-size: 42px; }

  .block.banner-home.pre-ep .block-title {
    font-size: 24px; }

  .cb-homepage .cb-contact-form .form-submit {
    display: block;
    width: 100%; } }
@media screen and (max-width: 400px) {
  .block.social-links .menu li {
    width: 22%;
    margin-left: 0; }
    .block.social-links .menu li .social-link.facebook, .block.social-links .menu li .social-link.instagram, .block.social-links .menu li .social-link.songkick, .block.social-links .menu li .social-link.twitter {
      width: 100%;
      background-size: contain; }

  .cb-homepage.header-text-left .cb-header-text {
    left: 10px;
    width: 100%;
    max-width: 200px; }

  .block.banner-home.pre-ep .block-title {
    bottom: 10px; } }
