@media screen and (max-width: 970px) {
  .cb-homepage.header-text-left .cb-header-text {
    font-size: 72px; } }
@media screen and (max-width: 930px) {
  .block.banner-home.single-release .block-title {
    top: 190px;
    font-size: 24px; } }
@media screen and (max-width: 860px) {
  .block.banner-home.new-ep-link .ep-title {
    top: 70px;
    font-size: 36px; } }
@media screen and (max-width: 800px) {
  .cb-homepage #page-wrapper {
    background-size: cover; } }
@media screen and (max-width: 792px) {
  .cb-jplayer,
  .region-logo .block.social-links {
    float: right;
    clear: both; } }
@media screen and (max-width: 760px) {
  .cb-homepage.header-text-left .cb-header-text {
    left: 0;
    top: 30px;
    width: 50%;
    padding: 0 30px;
    font-size: 72px; }

  .block.banner-home.new-ep-link .ep-title {
    top: 60px;
    font-size: 30px; } }
@media screen and (max-width: 650px) {
  .block.banner-home.single-release .block-title {
    top: 180px;
    font-size: 18px; }
  .block.banner-home.single-release .subhead {
    font-size: 14px; }

  .block.banner-home.new-ep-link .ep-title {
    top: 46px;
    font-size: 24px; } }
@media screen and (max-width: 565px) {
  .cb-jplayer {
    float: none;
    width: 100%;
    max-width: 353px;
    margin: 0 auto 20px; }
    .cb-jplayer .jp-audio .jp-type-playlist .jp-interface,
    .cb-jplayer .jp-audio .jp-type-playlist .jp-playlist {
      float: none;
      clear: both;
      width: 100%; }
    .cb-jplayer .jp-audio .jp-type-playlist .jp-playlist {
      border-left: 1px solid #d3dce5; }

  .block.banner-home.single-release .block-title {
    top: 30px;
    margin: 0;
    font-size: 28px; }

  .region-logo .block.social-links {
    float: none;
    width: 100%; }

  .block.social-links .menu {
    text-align: center;
    padding-bottom: 5px; }

  .cb-homepage.header-text-left .cb-header-text {
    display: none; }

  .block.banner-home.pre-ep .block-title {
    font-size: 32px; }

  .home-twitter-feed,
  .home-instagram-feed {
    display: none; }

  .cb-contact-form h2 {
    background: #d3dce5;
    color: #333; }

  .cb-homepage .burr-flipped-content {
    float: none;
    width: 100%; }
  .cb-homepage .burr-flipped-sidebar {
    float: none;
    width: 100%; }

  .pane-songkick .concert-header {
    font-size: 10px;
    word-wrap: break-word; }
    .pane-songkick .concert-header .date-time {
      width: 40%; }
    .pane-songkick .concert-header .event-venue {
      width: 60%; }
    .pane-songkick .concert-header .event-city {
      float: left;
      clear: both;
      width: 100%;
      padding-top: 5px;
      padding-left: 0; } }
@media screen and (max-width: 540px) {
  .block.banner-home.new-ep-link .ep-title {
    top: 40px;
    font-size: 20px; } }
@media screen and (max-width: 460px) {
  .block.social-links .menu {
    text-align: center;
    padding-bottom: 5px; }

  .cb-homepage.header-text-left .cb-header-text {
    font-size: 42px; }

  .block.banner-home.pre-ep .block-title {
    font-size: 24px; }

  .block.banner-home.single-release .block-title {
    font-size: 20px; }

  .nav-region .nav .content ul {
    font-size: 18px; }

  .cb-homepage .cb-contact-form .form-submit {
    display: block;
    width: 100%; }

  .cb-contact-form .webform-container-inline label,
  .cb-contact-form .webform-container-inline input[type="text"],
  .cb-contact-form .webform-container-inline input[type="email"] {
    display: block;
    float: none;
    width: 100%; } }
@media screen and (max-width: 430px) {
  .block.banner-home.new-ep-link .ep-title {
    top: 34px;
    font-size: 16px; } }
@media screen and (max-width: 400px) {
  .block.social-links .menu li {
    width: 22%;
    margin-left: 2%; }
    .block.social-links .menu li .social-link.facebook, .block.social-links .menu li .social-link.instagram, .block.social-links .menu li .social-link.songkick, .block.social-links .menu li .social-link.twitter {
      width: 100%;
      background-size: contain; }

  .cb-homepage.header-text-left .cb-header-text {
    left: 10px;
    width: 100%;
    max-width: 200px; }

  .block.banner-home.pre-ep .block-title {
    bottom: 10px; } }
@media screen and (max-width: 390px) {
  .cb-jplayer {
    display: none; }

  .block.banner-home.single-release .block-title {
    position: relative;
    top: auto;
    width: 100%;
    max-width: 280px;
    clear: both;
    padding: 20px 20px 0;
    margin: auto;
    text-align: center;
    font-size: 16px; }
  .block.banner-home.single-release .subhead {
    position: relative;
    bottom: auto;
    float: left;
    padding: 100px 20px 0;
    text-align: left;
    font-size: 12px; }
  .block.banner-home.single-release .image-wrapper {
    float: none;
    width: 100%;
    margin: auto; }

  .nav-region .nav .content ul {
    font-size: 16px; }

  .block.banner-home.new-ep-link .ep-title {
    top: 16px; } }
