@font-face {
  font-family: 'linowriteregular';
  src: url('../../fonts/linowrite-webfont.eot');
  src: url('../../fonts/linowrite-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/linowrite-webfont.woff') format('woff'),
    url('../../fonts/linowrite-webfont.ttf') format('truetype'),
    url('../../fonts/linowrite-webfont.svg#linowriteregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vincentregular';
  src: url('../../fonts/vincent-regular-webfont.eot');
  src: url('../../fonts/vincent-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/vincent-regular-webfont.woff') format('woff'),
       url('../../fonts/vincent-regular-webfont.ttf') format('truetype'),
       url('../../fonts/vincent-regular-webfont.svg#vincentregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  background: #000;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font: 24px/1.3 vincentregular, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
  body p {
    width: 100%;
    max-width: 585px;
    margin: 0.5em auto;
    text-align: center;
  }
.ep-cover {
  width: 100%;
  max-width: 585px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
}
.social-icons {
  display: block;
  width: 100%;
  max-width: 585px;
  margin: 10px auto 0;
  padding: 0;
  list-style: none;
}
  .social-icons li {
    display: inline-block;
  }
  .social-icons li:first-child {
    margin-left: 0;
  }